<div id="container">
	<img src ="http://placekitten.com/100/100" alt="This is a Cat"> 
	<div id="content">
		<h1>"Hi, I'm Adam"</h1>
		<p> Lorem ipsum dolor sit amet, <a href="http://twitter.com"> consectetur adipisicing </a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="http://www.cnn.com"> commodo consequat. </a> 
		</p>
		<div id="skills">
			<h2>My Skills</h2>
			<ul>
				<% @skills.each do |skill| %>
					<li><%= link_to skill.name, skill %></li>
				<% end %>
			</ul>
		</div>
	</div><!-- END #content -->
</div><!-- END #container -->